[Unit]
Description=Car Monitor Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/python3 /opt/CarMonitor/monitor.py

[Install]
WantedBy=multi-user.target
